<!DOCTYPE html>
<html>
<head>
	<title>ADD PARKING SPOT</title>
	<style type="text/css">
		body{
			margin: auto;
			max-width: 500px;
		}
	</style>
</head>
<body>
	<h2><b><u>ADD NEW PARKING SPOT</u></b></h2>
	<form method="POST">
		SECTOR:<input type="text" name="sector"><br><br>
		NAME:<input type="text" name="name"><br><br>
		X-COORDINATE<input type="text" name="x"><br><br>
		Y-COORDINATE<input type="text" name="y"><br><br>
		<button type="submit">ADD</button>
	</form>
	<br><br><br>
	<a href="/">go back for search</a>

</body>
</html>